<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
        <script src="/Scripts/angular.min.js"></script>
		<script src="/Scripts/angular-route.min.js"></script>
     
		<script src='/app/app.js' type="text/javascript"></script>
        <script src='/app/factory/loginFactory.js' type="text/javascript"></script>
        <script src='/app/factory/selectedCarFactory.js' type="text/javascript"></script>

        <script src='/app/controller/infoCtr.js' type="text/javascript"></script>
        <script src='/app/controller/mainCtr.js' type="text/javascript"></script>
		<script src='/app/controller/carOffersCtr.js' type="text/javascript"></script>
        <script src='/app/controller/loginCtr.js' type="text/javascript"></script>

		<script src='/app/pages/details/controller/carDetailCtr.js' type="text/javascript"></script>
	
        <link rel='stylesheet' type='text/css' href="/css/css.css"/>

	<style>

		</style>
	</head>

	
<body >

	@RenderBody()

</body>

</html>
