<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
        <script src="/Scripts/angular.min.js"></script>
		<script src="/Scripts/angular-route.min.js"></script>
     
		<script src="/app/app.js"></script>
        <script src='/app/controller/infoCtr.js'></script>
        <script src='/app/controller/mainCtr.js'></script>
		<script src='/app/controller/carOffersCtr.js'></script>
		<script src='/app/controller/carDetailCtr.js'></script>

		<link rel='stylesheet' type='text/css' href="css/css.css"/>

	</head>
	<style>
body{
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff920a+0,f9de84+93 */
  background: #c87106; /* Old browsers */
  opacity: 0.85;
  margin: 0;

}
		</style>
	
<body ng-app="carsApp">

	@RenderBody()

</body>

</html>
