<header>
    <nav class="navbar">

        <ul class="navbar__items">
            <li class="navbar__item navbar__item--logo">
                AUTO-SALON
            </li>
            <li class="navbar__item">
                <a href="/#!/info">Info</a>
            </li>
            <li class="navbar__item">
                <a href="/#!/car-offers">Car Offers</a>
            </li>
        </ul>
    </nav>
</header>
<div ng-app="myApp">
    <div ng-view></div>
</div>

